.product-line{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:30px;
}
.product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: aqua;
    height: 400px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}
.product-card:hover{
    background-color: darkblue;
    transform: scale(1.05);
}
.product-card img {
    width: 200px;
    height: 200px;
}