.firstTask{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.form{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
}
.form .button{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 20px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
.table tr {
    border: 1px solid black;
}